<p style="color: green"><%= notice %></p>

<%= render @moviegoer %>

<div>
  <%= link_to "Edit this moviegoer", edit_moviegoer_path(@moviegoer) %> |
  <%= link_to "Back to moviegoers", moviegoers_path %>

  <%= button_to "Destroy this moviegoer", @moviegoer, method: :delete %>
</div>
